<%-include("header");-%> 

<div class="box" id="heading"  >
    <h1>Work</h1>
  </div>
  

 
 <div class="box">
  
    <%for(let i=0; i<newListItems.length; i++){%>
      <div class="item">
      <input type="checkbox"> <p><%=newListItems[i]%></p>
   </div>
   <%}%>

<form method="POST" action="/work">
<input type="text" name="work" placeholder="Add Item" autocomplete="off"/>

<button type="submit" name="button">+</button>
</form>
 </div>  

<%-include("footer");-%>
